{%- if CERT_KEY_LENGHT | default("") != "" -%}
---
apiVersion: tf.tungsten.io/v1alpha1
kind: Manager
metadata:
  name: cluster1
  namespace: tf
spec:
  commonConfiguration:
    certKeyLength: {{ CERT_KEY_LENGHT }}
{%- endif -%}
