{%- if CONTRAIL_CONTAINER_TAG is not defined or CONTRAIL_CONTAINER_TAG == "" -%}
{%- set CONTRAIL_CONTAINER_TAG = "latest" -%}
{%- endif %}
{%- if CONTAINER_REGISTRY is not defined or CONTAINER_REGISTRY == "" -%}
{%- set CONTAINER_REGISTRY = "tungstenfabric" -%}
{%- endif -%}
[
  {
    "op": "replace",
    "path": "/spec/services/vrouters/0/spec/serviceConfiguration/contrailStatusImage",
    "value": "{{ CONTAINER_REGISTRY }}/contrail-status:{{ CONTRAIL_CONTAINER_TAG }}"
  }
]