[
{%- if CONFIGDB_MIN_HEAP_SIZE | default("") != "" and CONFIGDB_MAX_HEAP_SIZE | default("") != "" -%}
  {
    "op": "replace",
    "path": "/spec/services/cassandras/0/spec/serviceConfiguration/minHeapSize",
    "value": "{{ CONFIGDB_MIN_HEAP_SIZE }}"
  },
  {
    "op": "replace",
    "path": "/spec/services/cassandras/0/spec/serviceConfiguration/maxHeapSize",
    "value": "{{ CONFIGDB_MAX_HEAP_SIZE }}"
  }
{%- endif -%}
]
