{%- if IMAGE_PULL_SECRETS is defined and IMAGE_PULL_SECRETS != "" -%}
{%- set IMAGE_PULL_SECRETS = IMAGE_PULL_SECRETS.split() | join(',') -%}
{%- set IMAGE_PULL_SECRETS = IMAGE_PULL_SECRETS.split(',') -%}
---
apiVersion: contrail.juniper.net/v1alpha1
kind: Manager
metadata:
  name: cluster1
  namespace: contrail
spec:
  commonConfiguration:
    imagePullSecrets:
{%- for node in IMAGE_PULL_SECRETS %}
      - {{ node }}
{%- endfor %}
{%- endif -%}