{%- if KUBERNETES_PUBLIC_FIP_POOL is not defined or KUBERNETES_PUBLIC_FIP_POOL == "" -%}
{%- if DEPLOYER is defined and DEPLOYER == "openshift" -%}
{%- set KUBERNETES_PUBLIC_FIP_POOL = "{}" -%}
{%- endif -%}
{%- endif -%}
[
  {
    "op": "test",
    "path": "/spec/services/kubemanagers/0/metadata/name",
    "value": "kubemanager1"
  }
{%- if KUBERNETES_PUBLIC_FIP_POOL is defined -%}
  ,{
    "op": "replace",
    "path": "/spec/services/kubemanagers/0/spec/serviceConfiguration/publicFIPPool",
    "value": "{{ KUBERNETES_PUBLIC_FIP_POOL }}"
  }
{%- endif -%}
]