{%- if CONTRAIL_CONTAINER_TAG is not defined or CONTRAIL_CONTAINER_TAG == "" -%}
{%- set CONTRAIL_CONTAINER_TAG = "latest" -%}
{%- endif -%}
{%- if CONTAINER_REGISTRY is not defined or CONTAINER_REGISTRY == "" -%}
{%- set CONTAINER_REGISTRY = "tungstenfabric" -%}
{%- endif -%}
bases:
- ../../base/contrail

patchesStrategicMerge:
  - replicas.yaml
  - cluster.yaml
  - auth.yaml
  - image-secrets.yaml
  - linklocal.yaml
  - tftp.yaml

# set contrail-status image
patchesJson6902:
  - target:
      kind: Manager
      name: cluster1
      group: tf.tungsten.io
      version: v1alpha1
    path: vrouter.json
  - target:
      kind: Manager
      name: cluster1
      group: tf.tungsten.io
      version: v1alpha1
    path: kube-manager.json
  - target:
      kind: Manager
      name: cluster1
      group: tf.tungsten.io
      version: v1alpha1
    path: db.json

images:
# Contrail externals
- name: contrail-external-cassandra
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-external-cassandra
- name: contrail-external-zookeeper
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-external-zookeeper
- name: contrail-external-rabbitmq
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-external-rabbitmq
- name: contrail-external-redis
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-external-redis
- name: contrail-external-stunnel
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-external-stunnel

# Contrail
- name: contrail-analytics-api
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-analytics-api
- name: contrail-analytics-collector
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-analytics-collector

- name: contrail-analytics-query-engine
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-analytics-query-engine

- name: contrail-controller-config-api
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-config-api
- name: contrail-controller-config-devicemgr
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-config-devicemgr
- name: contrail-controller-config-dnsmasq
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-config-dnsmasq
- name: contrail-controller-config-schema
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-config-schema
- name: contrail-controller-config-svcmonitor
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-config-svcmonitor

- name: contrail-controller-control-control
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-control-control
- name: contrail-controller-control-dns
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-control-dns
- name: contrail-controller-control-named
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-control-named

- name: contrail-kubernetes-kube-manager
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-kubernetes-kube-manager

- name: contrail-vrouter-agent
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-vrouter-agent
- name: contrail-kubernetes-cni-init
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-kubernetes-cni-init
- name: contrail-vrouter-kernel-build-init
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-vrouter-kernel-build-init
- name: contrail-vrouter-kernel-init
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-vrouter-kernel-init

- name: contrail-node-init
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-node-init

- name: contrail-controller-webui-job
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-webui-job
- name: contrail-controller-webui-web
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-controller-webui-web

- name: contrail-provisioner
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-provisioner

- name: contrail-nodemgr
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-nodemgr
- name: contrail-analytics-snmp-collector
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-analytics-snmp-collector
- name: contrail-analytics-snmp-topology
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-analytics-snmp-topology
- name: contrail-analytics-alarm-gen
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-analytics-alarm-gen
- name: contrail-external-kafka
  newTag: "{{ CONTRAIL_CONTAINER_TAG }}"
  newName: {{ CONTAINER_REGISTRY }}/contrail-external-kafka
