{%- if IPFABRIC_SERVICE_HOST is defined and IPFABRIC_SERVICE_HOST != "" -%}
---
apiVersion: contrail.juniper.net/v1alpha1
kind: Manager
metadata:
  name: cluster1
  namespace: contrail
spec:
  services:
    config:
      spec:
        serviceConfiguration:
          linklocalServiceConfig:
            ipFabricServiceHost: {{ IPFABRIC_SERVICE_HOST }}
{%- endif -%}