{%- if CONTRAIL_REPLICAS is defined -%}
---
apiVersion: tf.tungsten.io/v1alpha1
kind: Manager
metadata:
  name: cluster1
  namespace: tf
spec:
  commonConfiguration:
    replicas: {{ CONTRAIL_REPLICAS | default(1) }}
{%- endif -%}
