{%- if CONTRAIL_REPLICAS is not defined -%}
{%- if CONTROLLER_NODES is defined and CONTROLLER_NODES|length -%}
{%- set CONTRAIL_REPLICAS = " ".join(CONTROLLER_NODES.split(",")).split()|length -%}
{%- endif -%}
{%- endif -%}
---
apiVersion: tf.tungsten.io/v1alpha1
kind: Manager
metadata:
  name: cluster1
  namespace: tf
spec:
  commonConfiguration:
    replicas: {{ CONTRAIL_REPLICAS | default(1) }}