---
apiVersion: tf.tungsten.io/v1alpha1
kind: Manager
metadata:
  name: cluster1
  namespace: tf
{%- if ANALYTICS_SNMP_ENABLE | default("true") != "false" %}
spec:
  services:
    analyticsSnmp:
      metadata:
        labels:
          tf_cluster: cluster1
        name: analyticssnmp1
      spec:
        commonConfiguration:
          nodeSelector:
            node-role.kubernetes.io/master: ""
        serviceConfiguration:
          containers:
          - name: nodemanager
            image: contrail-nodemgr
          - name: provisioner
            image: contrail-provisioner
          - name: analytics-snmp-collector
            image: contrail-analytics-snmp-collector
          - name: analytics-snmp-topology
            image: contrail-analytics-snmp-topology
{%- endif -%}
