{%- if USE_EXTERNAL_TFTP is defined and USE_EXTERNAL_TFTP != "" -%}
---
apiVersion: tf.tungsten.io/v1alpha1
kind: Manager
metadata:
  name: cluster1
  namespace: tf
spec:
  services:
    config:
      spec:
        serviceConfiguration:
          useExternalTFTP: {{ USE_EXTERNAL_TFTP }}
{%- endif -%}
