{%- if CONFIG_API_WORKER_COUNT is defined and CONFIG_API_WORKER_COUNT != "" -%}
---
apiVersion: tf.tungsten.io/v1alpha1
kind: Manager
metadata:
  name: cluster1
  namespace: tf
spec:
  services:
    config:
      spec:
        serviceConfiguration:
          apiWorkerCount: {{ CONFIG_API_WORKER_COUNT }}
{%- endif -%}