{%- if TF_ROOT_CA_CERT_BASE64 is undefined or TF_ROOT_CA_KEY_BASE64 is undefined -%}
{%- if SSL_CACERT is defined and SSL_CAKEY is defined -%}
{%- set TF_ROOT_CA_CERT_BASE64 = SSL_CACERT | b64encode -%}
{%- set TF_ROOT_CA_KEY_BASE64 = SSL_CAKEY | b64encode -%}
{%- endif -%}
{%- endif -%}
{%- if TF_ROOT_CA_CERT_BASE64 is defined and TF_ROOT_CA_KEY_BASE64 is defined -%}
---
apiVersion: v1
kind: Secret
metadata:
  name: contrail-ca-certificate
  namespace: tf
type: Opaque
data:
  ca-bundle.crt: {{ TF_ROOT_CA_CERT_BASE64 }}
  ca-priv-key.pem: {{ TF_ROOT_CA_KEY_BASE64 }}
{%- endif %}
