{%- if TF_ROOT_CA_CERT_BASE64 is defined and TF_ROOT_CA_KEY_BASE64 is defined -%}
---
apiVersion: v1
kind: Secret
metadata:
  name: contrail-ca-certificate
  namespace: tf
type: Opaque
data:
  ca-bundle.crt: {{ TF_ROOT_CA_CERT_BASE64 }}
  ca-priv-key.pem: {{ TF_ROOT_CA_KEY_BASE64 }}
{%- endif -%}
