{%- if IMAGE_PULL_SECRETS is defined and IMAGE_PULL_SECRETS != "" -%}
{%- set IMAGE_PULL_SECRETS = IMAGE_PULL_SECRETS.split() | join(',') -%}
{%- set IMAGE_PULL_SECRETS = IMAGE_PULL_SECRETS.split(',') -%}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: tf-operator
spec:
  template:
    spec:
      commonConfiguration:
        imagePullSecrets:
{%- for node in IMAGE_PULL_SECRETS %}
          - {{ node }}
{%- endfor %}
{%- endif -%}